{% extends "base.html" %}

{% block title %}Acerca de{% endblock %}
<!-- base.html -->
{% block content %}
    <section id="acerca-de" class="container my-5">
       <!-- Acerca de -->
        <h2 class="text-center mb-4 text-white">Acerca del Proyecto</h2>

        <p class="lead text-center mb-4 text-white">
            Este proyecto fue creado como parte de la pre entrega de Coderhouse. En él, se implementan formularios para la creación de clientes, se realizan búsquedas en la base de datos, y los resultados se muestran en una interfaz dinámica utilizando plantillas de Django.
        </p>
        <div class="row text-white">
            <div class="col-md-6">
                <h3 class="mb-3">Objetivos del Proyecto:</h3>
                <ul>
                    <li class="list-group-item">Crear formularios para ingresar datos de clientes.</li>
                    <li class="list-group-item">Realizar búsquedas en la base de datos para mostrar los clientes registrados.</li>
                    <li class="list-group-item">Plasmar los resultados en una página utilizando HTML y plantillas de Django.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="mb-3">Estado Actual:</h3>
                <p>
                    Actualmente, estamos trabajando en la implementación de las búsquedas avanzadas y en mejorar la interacción con la base de datos. El proyecto está en su fase intermedia.
                </p>
            </div>
        </div>        
        <div class="text-center mt-5">
            <a href="/listado_clientes" class="btn btn-primary btn-lg">Ver listado de clientes</a>
        </div>
    </section>
{% endblock %}