{% extends "base.html" %}

{% block title %}Listado de Clientes{% endblock %}

{% block content %}
<h1>Listado de Clientes</h1>

<div class="contenedor-buscador-crear">
    <!-- Contenedor del buscador -->
    <div class="buscador">
        <form method="get" action="{% url 'app:listado_clientes' %}">
            <input type="text" name="busqueda_clientes" placeholder="Buscar clientes" value="{{ request.GET.busqueda_clientes }}" class="input-buscador">
            <input type="submit" value="Buscar" class="btn-grande">
        </form>
    </div>

    <!-- Contenedor del botón "Crear Cliente" -->
    <div class="crear-cliente">
        <a href="{% url 'app:crear_cliente' %}" class="btn-grande">Crear Cliente</a>
    </div>
</div>

{% if listado_clientes %}
    <ul class="lista-clientes">
        {% for cliente in listado_clientes %}
            <li>
                {{ cliente.nombre }} - {{ cliente.email }}
                <a href="{% url 'app:editar_cliente' cliente.id %}">Editar</a>
                <a href="{% url 'app:eliminar_cliente' cliente.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron clientes.</p>
{% endif %}
{% endblock %}
