{% extends "base.html" %}
{% block title %}Editar perfil{% endblock %}
{% block content %}
<h1>Perfil de {{request.user.first_name}} {{request.user.last_name}}</h1>
<ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>        
        <li>Usuario: {{request.user.username}}</li>
        <li>Correo: {{request.user.email}}</li>
</ul>


<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>Avatar Actual:</label>
            {% if request.user.infousuario.avatar %}
                <a href="{{ request.user.infousuario.avatar.url }}" target="_blank">
                    <img src="{{ request.user.infousuario.avatar.url }}" alt="Avatar" style="width: 25px; height: 25px; border-radius: 50%;">
                </a>
            {% else %}
                <p>No tienes un avatar configurado.</p>
            {% endif %}
        </div>
        <div>
            {{ form.avatar.label_tag }}:
            {{ form.avatar }}
        </div>
        <div>
            {{ form.email.label_tag }}:
            {{ form.email }}
        </div>
        <button type="submit">Guardar cambios</button>
    </form>
    
    


{% endblock %}




