{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<h1>Perfil de {{request.user.first_name}} {{request.user.last_name}}</h1>
<ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>        
        <li>Usuario: {{request.user.username}}</li>
        <li>Correo: {{request.user.email}}</li>

        <a href={% url "usuarios:editar_perfil" %}>Editar perfil</a>
        <a href={% url "usuarios:cambiar_contraseña"%}>Cambiar contraseña</a>
</ul>


{% endblock %}
